# --- Логи (файлы и папки) ---
/logs/
/*.log

# --- IDE/редакторы ---
/.vscode/
/.idea/
/*.code-workspace

# --- Мусор ОС ---
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# --- Конфиг/секреты окружения (в любом проекте) ---
/.env
!/.env.example        # образцы конфигураций держим в гите
/.envrc
/*.env.local
/*.secrets
/*.key
/*.pem

# === Maven / сборка ===
/target/
/META-INF/
pom.xml.versionsBackup
dependency-reduced-pom.xml
release.properties
pom.xml.releaseBackup
pom.xml.tag