name: Linters

on:
  pull_request:
  push:
    branches: [ main, master ]

jobs:
  run-linters:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Run log linter
        run: python3 scripts/log_lint.py --path src/main/java

      - name: Run JavaDoc linter
        run: python3 scripts/javadoc_html_lint.py --path src/main/java

      - name: Run comment linter
        run: python3 scripts/comment_lint.py --path src/main/java

